<div class="container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <img src="../assets/Images/Lo_go.png" alt="ভাই ভাই ফার্মেসি" width="200px" height="200px">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Options</a>
        <div class="dropdown-content">
          <a href="#">Action 1</a>
          <a href="#">Action 2</a>
          <a href="#">Another action</a>
        </div>
      </li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>

  <!-- Main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; M.A. Monaem Khan. All Rights Reserved.</p>
  </footer>
</div>